<div class="container">

    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <a href="#step-1" class="btn btn-secondary disabled">1</a>
            <p>Paso 1</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-2" class="btn btn-primary" disabled="disabled">2</a>
            <p>Paso 2</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-3" class="btn btn-secondary disabled" disabled="disabled">3</a>
            <p>Paso 3</p>
          </div>
        </div>
    </div>

    <%= bootstrap_form_tag url: '/simulator/1/step-three' do |f| %>
        <%= f.select 'code', @select_options[:code], { label: "Código:" } %>
        <%= f.select 'category', @select_options[:category], { label: "Categoría:" } %>
        <%= f.select 'service_name', @select_options[:service_name], { label: "Nombre del servicio:" } %>
        <%= f.select 'service_level', @select_options[:service_level], { label: "Nivel de servicio:" } %>
        <%= f.select 'elasticity', @select_options[:elasticity], { label: "Elasticidad:" } %>
        <%= f.select 'server', @select_options[:server], { label: "Servidor:" } %>
        <%= f.select 'deliver_mode', @select_options[:deliver_mode], { label: "Modalidad de entrega del servicio:" } %>
        <%= f.select 'version', @select_options[:version], { label: "Versión:" } %>
        <%= f.select 'physical_cores', @select_options[:physical_cores], { label: "Cantidad core físico:" } %>
        <%= f.select 'virtual_cpus', @select_options[:virtual_cpus], { label: "Cantidad VirtualCPU:" } %>
        <%= f.select 'operative_system', @select_options[:operative_system], { label: "Sistema Operativo:" } %>
        <%= f.select 'processor_speed', @select_options[:processor_speed], { label: "Velocidad Procesador:" } %>
        <%= f.select 'memory_ram', @select_options[:memory_ram], { label: "Memoria RAM (GB):" } %>
        <%= f.select 'storage', @select_options[:storage], { label: "Almacenamiento (GB):" } %>
        <%= f.select 'characteristic_1', @select_options[:characteristic_1], { label: "Característica 1:" } %>
        <%= f.select 'characteristic_2', @select_options[:characteristic_2], { label: "Característica 2:" } %>
        <%= f.select 'characteristic_3', @select_options[:characteristic_3], { label: "Característica 3:" } %>
        <%= f.select 'characteristic_4', @select_options[:characteristic_4], { label: "Característica 4:" } %>
        <%= f.select 'billing_unit', @select_options[:billing_unit], { label: "Unidad de facturación:" } %>
        <%= f.submit %>
    <% end %>




</div>
