<div class="container">

    <h4>Tu lista de cotizaciones</h4>

    <br>

    <!-- Service -->
    <div class="card">
        <div class="card-header">
            Servicio
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Proveedor</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <% @service_prices.each_with_index do |service, index| %>
                    <tr>
                        <td><%= index %></td>
                        <td><%= service.provider.name %></td>
                        <td><% if service.price %>$ <%= service.price %><% else %>Precio no disponible<% end %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <!-- Installation -->
    <br>
    <div class="card">
        <div class="card-header">
            Instalación
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Proveedor</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <% @installation_prices.each_with_index do |installation, index| %>
                    <tr>
                        <td><%= index %></td>
                        <td><%= installation.provider.name %></td>
                        <td>$ <%= installation.price %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>



</div>
